{% extends 'base.html' %}
{% block content %}

<nav class="navbar navbar-light bg-light">
    <div class="navbar-brand">
        Water Tracker
    </div>
    <div id='goal_num'>
                Daily Goal: {{ user_goal_oz }} Oz (About {{ user_goal_cups }} Cups)
            </div>
    <form class="form-inline" action='/logout'>
        <input class="form-control mr-sm-2" type="submit" value="Logout">
    </form>

</nav>

<div class='row'>
    <div class='col-12'>
        <!-- <h1 id='title'>Water Tracker</h1> -->

        <div>
            <div>
                Date: {{ current_date }}
            </div>

            <div>
                <h4>Hi, {{ fname }}!</h4>
                <!-- Hope you're keeping hydrated!😁 -->
            </div>
            <!-- <div id='goal_num'>
                Daily Goal: {{ user_goal_oz }} Oz (About {{ user_goal_cups }} Cups)
            </div> -->
        </div>

        <div id='daily_goal'>
            Current Water Count: {{ total_water_today }} Oz ({{ total_cups_today }} Cups)
        </div>

        <form id="add-water">
            <div>
                <select id='qty-field' name='drink' required>
                    <option disabled selected value> Drink </option>
                    <option value='2'> 2 Oz (1/4 Cup)</option>
                    <option value='4'> 4 Oz (1/2 Cup)</option>
                    <option value='6'> 6 Oz (3/4 Cup)</option>
                    <option value='8'> 8 Oz (1 Cup)</option>
                    <option value='12'> 12 Oz (1.5 Cups)</option>
                    <option value='16'> 16 Oz (2 Cups)</option>
                </select>
            
                 <input id='submit_water' type="submit" value="SUBMIT">
            </div>
        </form>  
    </div>
</div>

<br>
<div class='row'>
    <div class='col-6'>
        <form id='stat-submit'>
            <div>
                <select id='stats' name='filter_name' required>
                    <option disabled selected value>Filter by</option>
                    <option value='days'>Days</option>
                    <option value='weeks'>Weeks</option>
                    <option value='months'>Months</option>
                </select>

                <input type="submit" value='FILTER'>
            </div>
        </form>

        <!-- line chart -->
        <canvas id="lineChart" width="200" height="200"></canvas>

        <script src="/static/js/line_chart.js"></script>
    </div>

    <div class='col-6'>
        <form id='pie-chart'>
            <div>
                <input id='pie' type="submit" value="UPDATE">
            </div>
        </form> 

<!-- radar chart -->
        <canvas id="pieChart" width="200" height="200"></canvas>

        <script src="/static/js/pie_chart.js"></script>
    
    </div>
</div>

<!-- this is for grabbing the city every time you submit a drink -->
<script>
    
    const getIPInfo = async () => {
        const response = await fetch("https://ipinfo.io/json?token={{ IP_token }}")
        const data = await response.json()
        return data;
    }
    // getIPInfo().then((city) => console.log(city));
    function rerouteBack(response){
        console.log(response)
        // window.location.reload();
        $('#daily_goal')[0].innerText = response;
    }
    async function submitWater(evt) {
        evt.preventDefault();
        const data = await getIPInfo();
        var formInputs = {
            "drink": ($("#qty-field").val()),
            "postal": data['postal'],
        };
        $.post("/add-water", 
           formInputs,
           rerouteBack);
    };
    $("#add-water").on("submit", submitWater);

</script>

<!-- <div>
    <form action='/logout'>
        <div>
            <input type="submit" value="LOGOUT">
        </div>
    </form>
</div> -->

{% endblock %}