{% extends 'base.html' %}
{% block content %}


<div class="row">
    <div class="col">
        <div>
            Today's Date: {{ current_date }} <br>
            Timezone: {{ time_zone }} DELETE LATER!!!!!
        </div>

        <div>
            <h2>Hi, {{ fname }}!</h2>
            Hope you're keeping hydrated!💧😁
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div>
            <img src="http://www.bottled-water-filters-coolers.com/images/water-comic-strip.gif">
        </div>
    </div>

    <div class="col">
        <div>
            Water Intake...
        </div>

        <form id="add_water" action="/add-water" method="POST">
            <div>
                <select name='drink'>
                    <option disabled selected value> -- select an option -- </option>
                    <option value='2'> 2 Oz (1/4 Cup)</option>
                    <option value='4'> 4 Oz (1/2 Cup)</option>
                    <option value='6'> 6 Oz (3/4 Cup)</option>
                    <option value='8'> 8 Oz (1 Cup)</option>
                    <option value='12'> 12 Oz (1.5 Cups)</option>
                    <option value='16'> 16 Oz (2 Cups)</option>
                </select>
            </div>

            <div>
                 <input type="submit" value="SUBMIT">
            </div>
        </form>  
        <br>

        <div>
            Current Water Count: {{ total_water_today }} Oz ( {{ total_cups_today }} Cups)

            <!-- add motivational messages when getting close to goal or goal is met -->
        </div>

        <div>
            Daily Goal: {{ user_goal_oz }} Oz (About {{ user_goal_cups }} Cups)
        </div>
        <br>

<!-- want to give msg that they're getting close or met their goal -->

<div>{{ days }}</div>

<canvas id="myChart" width="400" height="400"></canvas>
<script>
    "use strict";
    let ctx = document.getElementById("myChart").getContext('2d');
    let myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: {{ days }}, 
            datasets: [{
            label: "Daily Water Intake",
            data: {{ qty }} 
        }],
    },
        options: {
        scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
            }]
        }
    }

    });
</script>




        <div>
            <form action='/logout'>
                <div>
                    <input type="submit" value="LOGOUT">
                </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}