<!doctype html>
<html>
<head>
  <title>Water</title>

 <link rel="stylesheet"
        href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>

<!-- <link rel="stylesheet" href="./styles.css"> -->

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/styles.css') }}">



{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
 
</head>

<body>
    <div class="container">

    {% block content %} put your content here {% endblock %}

    </div>


</body>
</html>