{% extends 'base.html' %}
{% block content %}

<h1>Water Tracker</h1>

<div>
<img src="http://2.bp.blogspot.com/_y2U7P39v5v8/TPWsYkNLwEI/AAAAAAAAAXM/Ao1CIMLY5RY/s1600/thirsty.jpg">
</div>
<br>

<div>NEW HERE?</div>
<form action='/register'>
    <div>
        <input type="submit" value="CREATE ACCOUNT">
    </div>
</form>
<br>

<div> ALREADY REGISTERED?</div>
<form action='/login' method='POST'>
    <div>
        <label>Email 
            <input type="email" name="email" required>
        </label>
   
        <label>Password
            <input type="password" name="password" required>
        </label>
    
        <input type="submit" value="LOGIN">
    </div>
</form>




<!-- <p><a href="http://fellowship.hackbrightacademy.com/">testing</a></p> -->


{% endblock %}