{% extends 'base.html' %}
{% block content %}

<h1>Water Intake</h1>
<img src="https://images.pexels.com/photos/33263/highspeed-photography-water-drop-of-water-alien-dance.jpg?auto=compress&cs=tinysrgb&h=350">

<form action='/login' method='POST'>
    <div>
        <label>Email: 
            <input type="email" name="email" required>
        </label><br>
    </div>

    <div>
        <label>Password: 
            <input type="password" name="password" required>
        </label>
    </div>

    <div>
        <input type="submit" value="Log In">
    </div>

</form>

<!-- <p><a href="http://fellowship.hackbrightacademy.com/">testing</a></p> -->


{% endblock %}